### 파이썬 자료형 종류 리뷰

1) 숫자형
  - 1, 2, 3, 0, -1, -5, 3.14 
  
2) Boolean
  - True, False
  
3) 문자열
  - "Hello", "메가IT", '빅데이터'

4) 리스트 List
  - [], [1,3,5], ["홍", "길", "동"]

5) 튜플 Tuple
  - (), (1,3,5)

6) 사전 Dictionary
  - {key1 : value1}, {"이름":"서현경", "성별":"남자"}

7) 집합 Set
  - {}, set([1,3,5]), set("Hello")

### (1) 다음과 같은 기능을 하는 코드를 작성해보세요

1. 루프를 1부터 10까지 반복합니다. ( i에는 1부터 10까지의 값이 반복해서 들어갑니다 )
1. i를 그대로 출력하지 않고, 두 배로 늘려서 출력합니다. (```i * 2```)
1. 반복문 안에서 출력하지 않고, **반복문 안에서 값을 모아뒀다가 반복문이 끝나면 밖에서 출력합니다.** 이를 위해서는 빈 리스트를 만든 뒤(```double_list = []```), 리스트의 ```.append``` 기능을 사용해서 값을 집어넣습니다.
1. 여기서 i가 5일 경우는 반복을 한 번만 skip하고 다음 반복(i가 6일 경우)을 재시작합니다.
1. 그리고 i가 8일 경우는 반복문을 강제로 종료시킵니다.

In [1]:
# double_list라는 변수에 빈 리스트를 하나 할당합니다.
double_list = []

# 1) 1부터 10까지 루프를 반복합니다.
for i in range(1, 11):
    # 4) i가 5이면 현재 루프를 skip하고 다음 루프(i가 6인 경우)를 실행합니다.
    if i == 5:
        continue
    
    # 5) i가 8이면 반복문을 강제로 종료시킵니다.
    if i == 8:
        break
    
    # 2)  i 값에 2를 곱한 뒤, 그 결과를 double이라는 이름의 변수에 할당합니다.
    double = i * 2
    
    # 3) doublie_list에 double 변수에 들어있는 값을 할당합니다.
    double_list.append(double)

# 3) 반복문이 끝난 다음의 결과를 모두 출력합니다.
double_list

[2, 4, 6, 8, 12, 14]

### (2) 점수 채점하기

 - 총 12명의 레벨테스트 점수가 파이썬의 리스트(List)로 담겨져 있고,
 - 이를 score라는 이름의 변수에 할당하였습니다.

score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]
이 score 변수에 담겨져 있는 값을 활용하여 아래 문제를 풀어보세요.

 - 전체 점수의 평균을 구하는 코드를 작성해보세요.
 - 전체 점수 중 가장 높은 점수를 구하는 코드를 작성해보세요.
 - 전체 점수 중 가장 낮은 점수를 구하는 코드를 작성해보세요.

평균의 공식 :
https://ko.wikipedia.org/wiki/%ED%8F%89%EA%B7%A0

In [2]:
score = [80, 60, 70, 50, 100, 95, 40, 75, 90, 65, 90, 100]

In [3]:
### 방법1
count = 0
total = 0

for i in score:
    count = count + 1
    total = total + i
    print(count, i, total)
    
print("평균값 : ", total / count )

1 80 80
2 60 140
3 70 210
4 50 260
5 100 360
6 95 455
7 40 495
8 75 570
9 90 660
10 65 725
11 90 815
12 100 915
평균값 :  76.25

In [4]:
#len() : 데이터 길이
len(score)

12

In [5]:
score.sort()
score

[40, 50, 60, 65, 70, 75, 80, 90, 90, 95, 100, 100]

In [6]:
print("최소값 :", score[0], "최대값 :",score[-1])

최소값 : 40 최대값 : 100

In [7]:
#또는
print("최소값 : {} 최대값 : {}".format(min(score),max(score)))


print(f"최소값 : {min(score)} 최대값 : {max(score)}")

최소값 : 40 최대값 : 100
최소값 : 40 최대값 : 100

In [8]:
### 방법2
len(score)

Score_mean = sum(score) / len(score)

print(Score_mean)

76.25

In [9]:
### 방법3
import pandas as pd
pd.DataFrame(score).describe()

                0
count   12.000000
mean    76.250000
std     19.785785
min     40.000000
25%     63.750000
50%     77.500000
75%     91.250000
max    100.000000

### (3) 함수 - 팩토리얼

수학 팩토리얼입니다. 기억이 나지 않는 분들을 위해 예시를 들자면

  * 3! = 3 x 2 x 1 = 6
  * 4! = 4 x 3 x 2 x 1 = 24
  * 5! = 5 x 4 x 3 x 2 x 1 = 120
  
와 같이 동작합니다. 파이썬에서는 간단한 몇 줄의 코드만으로 팩토리얼을 구현할 수 있습니다.

In [10]:
def fac(n):
    result = 1        # 결과를 저장할 result 값 초기화 (곱셈이므로 1 선언)
    for i in range(1, n + 1):  # factorial 규칙에 따라, 1부터 입력값까지 곱셈
        result = result * i
#         print(i,result) #중간과정
    
    return result

In [11]:
print("4! = ", fac(4))
print("6! = ", fac(6))

4! =  24
6! =  720

In [12]:
# 또는 다른 방법 :

# factorial이라는 이름의 함수를 만듭니다. 인자로 n을 받습니다.
def factorial(n):
    # n이 1일 경우 1을 반환합니다.
    if n == 1:
        return 1
    # n이 1이 아닐 경우, n과 factorial(n - 1)의 결과값을 곱합니다.
    # factorial 함수 안에서 factorial을 다시 한 번 호출하는 것이 포인트입니다.
    else:
        print(n)
        return n * factorial(n - 1)

# 팩토리얼 3, 4, 5를 계산합니다.
print(factorial(3))
print("==========")
print(factorial(4))
print("==========")
print(factorial(5))

3
2
6
==========
4
3
2
24
==========
5
4
3
2
120

]

### (4) 함수 - 369 게임

다음은 369게임입니다. 369게임은 다음과 같습니다.

1. 1부터 시작해 숫자를 하나씩 센다.
2. 숫자에 3이나 6이나 9 배수일 경우 박수(clap)를 친다.
3. 지정한 최대 숫자까지 도달하면 프로그램을 종료한다.

In [13]:
def game369(n):
    for i in range(1, n + 1):
        if i % 3 == 0:
            print("clap")
        elif i % 6 == 0:
            print("clap")
        elif i % 9 == 0:
            print("clap")
        else:
            print(i)

In [14]:
game369(10)

1
2
clap
4
5
clap
7
8
clap
10

In [15]:
# 또는 다른 방법 :

def game369(finish):
    # 1부터 finish까지 반복을 돌며, 매 번 반복하는 값을 n이라는 이름의 변수에 할당합니다.
    for n in range(1, finish + 1):
        # 여기가 이 프로그램의 핵심입니다. n을 문자열(텍스트)로 변환합니다.
        # 가령 3은 "3"으로, 33은 "33"으로 변환합니다.
        n_text = str(n)

        # 텍스트로 된 n에 3이나 6이나 9가 있는지 체크합니다.
        if "3" in n_text or "6" in n_text or "9" in n_text:
            # 3, 6, 9가 있으면 박수를 칩니다.
            print("clap!")
        else:
            # 3, 6, 9가 없으면 숫자를 그대로 출력합니다.
            print(n)

# 1번부터 100번까지 369게임을 실행합니다.
game369(10)

1
2
clap!
4
5
clap!
7
8
clap!
10

In [16]:
game369(40)

1
2
clap!
4
5
clap!
7
8
clap!
10
11
12
clap!
14
15
clap!
17
18
clap!
20
21
22
clap!
24
25
clap!
27
28
clap!
clap!
clap!
clap!
clap!
clap!
clap!
clap!
clap!
clap!
clap!
40

### (5) 3n + 1 콜라츠 추측

3n + 1 문제는 다음과 같습니다.

  * n이 홀수면 3을 곱한 뒤 1을 더하고
  * n이 짝수면 2로 나눕니다.
  * 마지막으로 n이 1이 되면 프로그램을 종료합니다.

이 문제 역시 재귀 함수를 사용하면 간단하게 풀 수 있습니다.

https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=inwook28&logNo=221622650947

**산식**

    f(x) = n/2 (if n is even)
         = 3n+1 (if n is odd)

In [17]:
# cycle이라는 이름의 함수를 만듭니다. 인자로 n을 받습니다.
def cycle(n):
    # n이 1이면 1이 하나 들어간 리스트를 반환합니다.
    if n == 1:
        return [1]

    # n이 짝수이면 n이 하나 들어간 리스트와, cycle(n / 2)의 결과값을 더해서 반환합니다.
    if n % 2 == 0:
        return [n] + cycle(n / 2)
    # n이 홀수이면 n이 하나 들어간 리스트와, cycle(3 * n + 1)의 결과값을 더해서 반환합니다.
    else:
        return [n] + cycle(3 * n + 1)
    
# 1번부터 5번까지 3n + 1 문제를 실행합니다.
print(cycle(1))
print(cycle(2))
print(cycle(3))
print(cycle(4))
print(cycle(5))

[1]
[2, 1]
[3, 10, 5.0, 16.0, 8.0, 4.0, 2.0, 1]
[4, 2.0, 1]
[5, 16, 8.0, 4.0, 2.0, 1]

In [18]:
print(cycle(27))

[27, 82, 41.0, 124.0, 62.0, 31.0, 94.0, 47.0, 142.0, 71.0, 214.0, 107.0, 322.0, 161.0, 484.0, 242.0, 121.0, 364.0, 182.0, 91.0, 274.0, 137.0, 412.0, 206.0, 103.0, 310.0, 155.0, 466.0, 233.0, 700.0, 350.0, 175.0, 526.0, 263.0, 790.0, 395.0, 1186.0, 593.0, 1780.0, 890.0, 445.0, 1336.0, 668.0, 334.0, 167.0, 502.0, 251.0, 754.0, 377.0, 1132.0, 566.0, 283.0, 850.0, 425.0, 1276.0, 638.0, 319.0, 958.0, 479.0, 1438.0, 719.0, 2158.0, 1079.0, 3238.0, 1619.0, 4858.0, 2429.0, 7288.0, 3644.0, 1822.0, 911.0, 2734.0, 1367.0, 4102.0, 2051.0, 6154.0, 3077.0, 9232.0, 4616.0, 2308.0, 1154.0, 577.0, 1732.0, 866.0, 433.0, 1300.0, 650.0, 325.0, 976.0, 488.0, 244.0, 122.0, 61.0, 184.0, 92.0, 46.0, 23.0, 70.0, 35.0, 106.0, 53.0, 160.0, 80.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1]

In [19]:
len(cycle(27))

112