### 문자열 포맷팅 formatting

In [1]:
apple = 3
days = 5

print( "I ate {0} apple for {1} days".format(apple, days) )
# 또는
print( "I ate {} apple for {} days".format(apple, days) )
# 또는
print( f"I ate {apple} apple for {days} days." )

I ate 3 apple for 5 days
I ate 3 apple for 5 days
I ate 3 apple for 5 days.

In [2]:
float_a = 0.987654321
float_b = 0.123456789

print ( "[Accuracy] Model A = {0:.3} Model B = {1:.5}".format(float_a, float_b) )
# 또는
print( f"[Accuracy] Model A = {float_a:.5f} Model B = {float_b:.3f}" )

[Accuracy] Model A = 0.988 Model B = 0.12346
[Accuracy] Model A = 0.98765 Model B = 0.123

### List

- Python 에서 List 는 다른 개발언어에서 Array(배열) 기능과 유사
- 여러 개의 값(숫자, 문자 등) 을 1개로 묶어서 변수에 할당하는 역할

In [3]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [4]:
print(odd[0])
print(odd[1])
print(odd[-1])
print(odd[-2])

1
3
9
7

In [5]:
odd[0:4]

[1, 3, 5, 7]

In [6]:
# 또는 
odd[:4]

[1, 3, 5, 7]

In [7]:
odd[4:]

[9]

In [8]:
print(1 in odd)
print(2 in odd)
print(3 in odd)

True
False
True

In [9]:
# append() : 추가
odd.append(11)
odd

[1, 3, 5, 7, 9, 11]

In [10]:
# pop() : 마지막 값 제거
odd.pop()
odd

[1, 3, 5, 7, 9]

In [11]:
# del : 특정 위치 제거
del odd[3]
odd

[1, 3, 5, 9]

In [12]:
# remove() : 특정 값 제거
odd.remove(3)
odd

[1, 5, 9]

In [13]:
# insert(index 위치, 추가할 값)
odd.insert(0, 3)
odd

[3, 1, 5, 9]

In [14]:
# 오름차순 정렬
odd.sort()
odd

[1, 3, 5, 9]

In [15]:
# 내림차순 정렬
odd.sort(reverse = True)
odd

[9, 5, 3, 1]

In [16]:
odd = odd + [13, 15, 17, 19]
# 또는 
# odd = [13, 15, 17, 19] + odd

In [17]:
# 값 변경
odd[3] = -1
odd[5] = -1
odd

[9, 5, 3, -1, 13, -1, 17, 19]

### List : Call by reference

In [18]:
a = [1,2,3,4,5]

b = a
b[0] = 100

print(a)
print(b)

[100, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [19]:
print(id(a))   # id() 변수가 저장된 메모리 주소값을 알려주는 함수
print(id(b))   # b = a 과정에서 값이 복사 Assign 되는 것이 아니고, 주소값이 전달된 것으로 확인가능

2015171382784
2015171382784

In [20]:
a = [1,2,3,4,5]

b = a.copy()
b[0] = 100

print(a)
print(b)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [21]:
a = 200
b = a

a = 300
print(b)      # List(이외 dict, set 형도 동일함) 형이 아닐 경우는 Call by reference 발생하지 않음 (Call by Value)

200

### 딕셔너리(사전형) Dictionary

- 딕셔너리는 리스트와 유사
- 리스트와의 차이점은, 
  - 1) 리스트는 여러 값(Value)을 순차적으로 담아서 가져오지만, 
  - 2) 딕셔너리는 키(Key)를 지정해주면 키에 해당하는 값(Value)을 가져옴

In [22]:
# 딕셔너리는 키(Key)와 값(Value)으로 이루어짐

voca = {"apple":"사과", "cherry":"체리", "orange":"오렌지"}
voca

{'apple': '사과', 'cherry': '체리', 'orange': '오렌지'}

In [23]:
print(voca['apple'])

사과

In [24]:
voca["pineapple"] = "파인애플"
voca

{'apple': '사과', 'cherry': '체리', 'orange': '오렌지', 'pineapple': '파인애플'}

In [25]:
# 특정 값 제거
del voca["cherry"]
voca

{'apple': '사과', 'orange': '오렌지', 'pineapple': '파인애플'}

In [26]:
# .keys()는 딕셔너리의 키(Key)들의 리스트를 가져옴
voca.keys()

dict_keys(['apple', 'orange', 'pineapple'])

In [27]:
# .values()는 딕셔너리의 값(Value)들의 리스트를 가져옴
voca.values()

dict_values(['사과', '오렌지', '파인애플'])

In [28]:
# in 연산자 검색 가능
print('apple' in voca)
print('dish' in voca)

True
False

### 제어문 :  if ~ elif ~ else condition

In [29]:
age = 30

In [30]:
if age < 19:
    print("학생")
else:
    print("일반인")

일반인

In [31]:
age = 5
if age < 19:
    print("학생")
elif age < 10:
    print("어린학생")
else:
    print("일반인")

#if ~ elif 는 위에서부터 차례대로 검사하는데, 위에서 참이 나오면 참인 명령만 실행하고 끝남.

#elif 도 else와 마찬가지로 앞에 if 가 있어야 사용할 수 있음.

#elif 는 else와 다르게 여러개 사용할 수 있음.

학생

In [32]:
odd = [1,3,5,7,9]
odd

[1, 3, 5, 7, 9]

In [33]:
if not 3 in odd:
    print("3 not exist")
else:
    print("3 exist")

3 exist

### 반복문 for loop

In [34]:
basket = ["apple", "banana", "cherry", "pineapple"]
basket

['apple', 'banana', 'cherry', 'pineapple']

In [35]:
product = basket[1]
print(product)

banana

In [36]:
for i in basket:
    print(i)

apple
banana
cherry
pineapple

In [37]:
#for i in range(a,b) : a부터 b미만까지
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [38]:
for i in range(1,10):
    if i == 2:
        continue
    elif i == 5:
        print(i)
        break
    else:
        print(i)

1
3
4
5

### 함수 Function

In [39]:
### 함수1
def multiply(a, b):
    # a 변수의 값과 b변수의 값을 곱한 뒤, c 변수에 저장
    c = a * b
    
    # c 변수 값을 반환 
    return c

In [40]:
print(multiply(2, 3))
print(multiply(3, 4))

6
12

In [41]:
### 함수2
def self_introduce(name, job = 'Engineer'):
    print(f'My name is {name}, and I am a {job}.')

In [42]:
#job의 디폴트값은 'Engineer'
self_introduce('MegaPerson')
self_introduce('ITperson', 'Teacher')

My name is MegaPerson, and I am a Engineer.
My name is ITperson, and I am a Teacher.

##### Formatiing

In [43]:
info_date = '2020-04-17'
info_day = 'Friday'

# .format() 안에 두 개의 변수(info_date, info_day)를 순서대로 넣고,
# 이 순서를 중괄호를 활용해 {0}, {1} 로 문자열 안에 기입

"Today's date is {0} and {1}, right?".format(info_date, info_day)

"Today's date is 2020-04-17 and Friday, right?"

In [44]:
f"Today's date is {info_date} and {info_day}, right?"

"Today's date is 2020-04-17 and Friday, right?"

### 전역변수/지역변수

In [45]:
var1 = 10

def test(a):
    # var1에 test함수의 인자로 입력받은 a를 할당
    var1 = a
    print(var1)
    
# test 함수에 5의 값을 넣고 실행
test(5)

5